<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3n="http://typo3.org/ns/KITT3N/Kitt3nViewhelpers/ViewHelpers"
      xmlns:kitt3nImage="http://typo3.org/ns/KITT3N/Kitt3nImage/ViewHelpers"
      data-namespace-typo3-fluid="true">

###########################
### Available variables ###
###########################

- {testimonial.data.tx_kitt3n_contentelements_select}
- {testimonial.data.tx_kitt3n_contentelements_rte}
- {testimonial.data.tx_kitt3n_contentelements_string}
- {testimonial.data.tx_kitt3n_contentelements_string_2}

###########################

<f:layout name="Default" />


<f:comment>
    ############
    ### MAIN ###
    ############
</f:comment>
<f:section name="Main">

    <div class="ce_customer_testimonial col-md-6 col-lg-4">

        <f:render section="Inner"
                  arguments="{testimonial: '{testimonial}', iteration: iteration, ceUid: '{ceUid}'}" />

    </div>

</f:section>


<f:comment>
    #############
    ### INNER ###
    #############
</f:comment>
<f:section name="Inner">

    <div class="ce_customer_testimonial__inner">

        <f:if condition="{testimonial.data.tx_kitt3n_contentelements_select} != 0">
            <div class="ce_customer_testimonial__rating">
                <f:render section="Rating"
                          arguments="{rating: '{testimonial.data.tx_kitt3n_contentelements_select}', iteration: iteration}" />
            </div>
        </f:if>

        <f:if condition="{testimonial.data.tx_kitt3n_contentelements_rte} && {testimonial.data.tx_kitt3n_contentelements_string} || {testimonial.data.tx_kitt3n_contentelements_string_2}">
            <div class="ce_customer_testimonial__blockquote">
                <blockquote>
                    <f:format.html>{testimonial.data.tx_kitt3n_contentelements_rte}</f:format.html>
                </blockquote>
            </div>
            <f:if condition="{testimonial.data.tx_kitt3n_contentelements_string} || {testimonial.data.tx_kitt3n_contentelements_string_2}">
                <div class="ce_customer_testimonial__cite">
                    <cite>
                        <f:if condition="{testimonial.data.tx_kitt3n_contentelements_string}"><f:format.raw>{testimonial.data.tx_kitt3n_contentelements_string}</f:format.raw></f:if><f:if condition="{testimonial.data.tx_kitt3n_contentelements_string} && {testimonial.data.tx_kitt3n_contentelements_string_2}">, </f:if><f:if condition="{testimonial.data.tx_kitt3n_contentelements_string_2}"><f:format.raw>{testimonial.data.tx_kitt3n_contentelements_string_2}</f:format.raw></f:if>
                    </cite>
                </div>
            </f:if>
        </f:if>
    </div>

</f:section>


<f:comment>
    ##############
    ### RATING ###
    ##############
</f:comment>
<f:section name="Rating">

    <div class="c-rating" data-rating-value="{rating}">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
    </div>

</f:section>

</html>