<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3n="http://typo3.org/ns/KITT3N/Kitt3nViewhelpers/ViewHelpers"
      xmlns:kitt3nImage="http://typo3.org/ns/KITT3N/Kitt3nImage/ViewHelpers"
      data-namespace-typo3-fluid="true">

###########################
### Available variables ###
###########################

- {sequence.data.tx_kitt3n_contentelements_select}
- {sequence.data.tx_kitt3n_contentelements_string}
- {sequence.data.bodytext}
- {sequence.data.tx_kitt3n_contentelements_rte}

###########################

<f:layout name="Default" />


<f:comment>
    ############
    ### MAIN ###
    ############
</f:comment>
<f:section name="Main">

    <div class="ce_video_sequence do-what-you-want-b">

        <f:render section="Inner"
                  arguments="{sequence: '{sequence}', iteration: iteration}" />

    </div>

</f:section>


<f:comment>
    #############
    ### INNER ###
    #############
</f:comment>
<f:section name="Inner">

    {sequence.data.tx_kitt3n_contentelements_select}<br>
    {sequence.data.tx_kitt3n_contentelements_string}<br>
    {sequence.data.bodytext}<br>
    {sequence.data.tx_kitt3n_contentelements_rte}

</f:section>

</html>