<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3nImage="http://typo3.org/ns/KITT3N/Kitt3nImage/ViewHelpers"
      data-namespace-typo3-fluid="true">

###########################
### Available variables ###
###########################

- {testimonials}

###########################

<f:layout name="Default" />


<f:section name="Main">

    <div id="ce_customer_testimonials_{data.uid}" class="ce_customer_testimonials row">
        <f:for each="{testimonials}" as="testimonial" iteration="iteration">
            <f:render partial="CeCustomerTestimonial"
                      section="Main"
                      arguments="{testimonial: '{testimonial}', iteration: iteration, ceUid: '{data.uid}'}"/>
        </f:for>
    </div>

</f:section>

</html>