<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3nImage="http://typo3.org/ns/KITT3N/Kitt3nImage/ViewHelpers"
      data-namespace-typo3-fluid="true">

    ###########################
    ### Available variables ###
    ###########################

    - {data}
    - {image.0}
    - {image2.0}
    - {image3.0}

    ###########################

    <f:layout name="Default" />


    <f:section name="Main">

        <f:if condition="{image} || {image2} || {image3}">
            <div class="ce_multi_layer_images layers">
                <f:if condition="{image}">
                    <div class="ce_multi_layer_image layer--1"
                         data-path="{f:uri.image(src: '{image.0.uid}', treatIdAsReference: 1)}">
                    </div>
                </f:if>
                <f:if condition="{image2}">
                    <div class="ce_multi_layer_image layer--2"
                         data-path="{f:uri.image(src: '{image2.0.uid}', treatIdAsReference: 1)}">
                    </div>
                </f:if>
                <f:if condition="{image3}">
                    <div class="ce_multi_layer_image layer--3"
                         data-path="{f:uri.image(src: '{image3.0.uid}', treatIdAsReference: 1)}">
                    </div>
                </f:if>
            </div>
        </f:if>

    </f:section>

</html>