<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3nImage="http://typo3.org/ns/KITT3N/Kitt3nImage/ViewHelpers"
      data-namespace-typo3-fluid="true">

###########################
### Available variables ###
###########################

- {data}

###########################

<f:layout name="Default" />


<f:section name="Main">

    <img class="svg"
         src="/fileadmin{processedSvg.0.originalFile.identifier}" />

</f:section>

</html>