<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3nImage="http://typo3.org/ns/KITT3N/Kitt3nImage/ViewHelpers"
      data-namespace-typo3-fluid="true">

    ###########################
    ### Available variables ###
    ###########################

    - {sequences}

    ###########################

    <f:layout name="Default" />


    <f:section name="Main">
        <div id="ce_video_sequence_{data.uid}" class="ce_video_sequences row">
            <f:for each="{sequences}" as="sequence" iteration="iteration">
                <f:render partial="CeVideoSequence"
                          section="Main"
                          arguments="{sequence: '{sequence}', iteration: iteration}"/>
            </f:for>
        </div>
    </f:section>

</html>