<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3nImage="http://typo3.org/ns/KITT3N/Kitt3nImage/ViewHelpers"
      data-namespace-typo3-fluid="true">

###########################
### Available variables ###
###########################

- {data}

###########################

<f:layout name="Default" />


<f:section name="Main">

    <div class="ce_video_loop_wrapper" style="padding-bottom: {data.bodytext}%;">
    <video id="ce_video_loop--{data.uid}"
           class="lazy"
           data-src="/fileadmin{processedVideo.0.originalFile.identifier}"
           controls
           muted="muted"
           preload="none"
           playsinline=""
           poster="{f:uri.image(src: '{processedPosterImage.0.uid}', treatIdAsReference: 1, width: '1200px', cropVariant: 'tablet')}"
           loop="loop"></video>
    </div>
    <script>var oHtml=document.querySelector("html"), sVideoId="ce_video_loop--{data.uid}"; if (hasClass(oHtml, 'bMobile-0')) { var oCeVideoLoop=document.getElementById(sVideoId); oCeVideoLoop.setAttribute('preload', 'auto'); oCeVideoLoop.setAttribute('playsinline', 'playsinline'); oCeVideoLoop.setAttribute('autoplay', 'autoplay'); oCeVideoLoop.removeAttribute("controls"); }</script>

</f:section>

</html>