<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3nImage="http://typo3.org/ns/KITT3N/Kitt3nImage/ViewHelpers"
      data-namespace-typo3-fluid="true">

    ###########################
    ### Available variables ###
    ###########################

    - {data.tx_kitt3n_contentelements_check}
    - {data.tx_kitt3n_contentelements_check_2}
    - {data.tx_kitt3n_contentelements_check_3}
    - {data.tx_kitt3n_contentelements_check_4}
    - {data.tx_kitt3n_contentelements_check_5}
    - {data.tx_kitt3n_contentelements_select}
    - {processedPosterImage}
    - {processedVideo}
    - {data.bodytext}
    - {data.tx_kitt3n_contentelements_rte}
    - {processedImage}
    - {processedImage2}
    - {processedImage3}

    ###########################

    <f:layout name="Default" />


    <f:section name="Main">

        <div class="ce__video ce__video--{data.tx_kitt3n_contentelements_select}">
            <f:render section="VideoType_{data.tx_kitt3n_contentelements_select}"
                      arguments="{data: data, processedPosterImage: processedPosterImage, processedVideo: processedVideo, processedImage: processedImage, processedImage2: processedImage2, processedImage3: processedImage3}"/>
        </div>

    </f:section>


    #####
    #####


    <f:section name="VideoType_0">

        <div class="ce__video_wrapper" style="padding-bottom: {data.bodytext}%;">

            <f:render section="Video"
                      arguments="{data: data, processedPosterImage: processedPosterImage, processedVideo: processedVideo, processedImage: processedImage, processedImage2: processedImage2, processedImage3: processedImage3}"/>

        </div>

        <f:if condition="{data.tx_kitt3n_contentelements_rte}">
            <div class="ce__video_text ce__video--{data.tx_kitt3n_contentelements_select}_text">
                <f:format.raw>
                    {data.tx_kitt3n_contentelements_rte}
                </f:format.raw>
            </div>
        </f:if>

    </f:section>



    <f:section name="VideoType_1">

        ...

    </f:section>



    <f:section name="VideoType_2">

        <f:render section="VideoType_0"
                  arguments="{data: data, processedPosterImage: processedPosterImage, processedVideo: processedVideo}"/>

    </f:section>


    #####
    #####


    <f:section name="Video">

        <video id="ce__video--{data.uid}"
               class="lazy"
               data-src="/fileadmin{processedVideo.0.originalFile.identifier}"
               preload="{f:if(condition: data.tx_kitt3n_contentelements_check, then: 'auto', else: 'none')}" {f:if(condition: data.tx_kitt3n_contentelements_check_2, then: 'autoplay="autoplay" ', else: '')}{f:if(condition: data.tx_kitt3n_contentelements_check_3, then: 'loop="loop" ', else: '')}{f:if(condition: data.tx_kitt3n_contentelements_check_4, then: 'muted="muted" ', else: '')}{f:if(condition: data.tx_kitt3n_contentelements_check_5, then: 'controls ', else: '')}
               playsinline="playsinline"
               poster="{f:uri.image(src: '{processedPosterImage.0.uid}', treatIdAsReference: 1, width: '1200px', cropVariant: 'tablet')}"></video>

    </f:section>
</html>